

@model PagedList.IPagedList<Do_An_Nhom.Models.tblXe>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}



<!-- Page Content -->
<div class="page-heading about-heading header-text" style="padding-top: 98px; background-image: url(~/Content/images/heading-6-1920x500.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h2>Fleet</h2>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="~/Scripts/js/placeholderTypewriter.js"></script>



<div class="card-tools">
    @using (Html.BeginForm())
    {
        <br />
        <div class=" input-group container" style=" display: flex; align-items: center; justify-content: center;">
            @*<input type="text" name="table_search" class="form-control float-right" placeholder="Tìm kiếm">*@
            @Html.TextBox("searchString", "", htmlAttributes: new { @class = "form-control float-right", @placeholder = "Tìm kiếm", id = "search" })


            <div class="input-group-append">
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    }

    <script>

        /* Placeholder Typewriter */
        var placeholderText = [
            "Find your car today?",
            "Camry?",
            "Corolla Cross?",
            "Vios?",
            "Mazda CX-5?",
            "Ferrary?",
            "Xpander?"
        ];

        $('#search').placeholderTypewriter({ text: placeholderText });

    </script>


    <div class="products" style="margin-top: 40px">
        <div class="container">
            <div class="row">

                @{ Html.RenderAction("FleetCar", "Fleet", new { id = ViewBag.CateId });}


                <div class="col-md-12">
                    <ul class="pages m-auto text-center d-block" style="width: fit-content">
                        @*<li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>*@

                        @*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount*@
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Book Now</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="contact-form">
                    <form action="" id="contact" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    @*<input type="text" class="form-control" placeholder="Pick-up location" required="">*@
                                    <input type="text" name="noithue" class="form-control" id="noiNhanXe" placeholder="Pick-up location" required="">
                                </fieldset>
                            </div>

                            <div class="col-md-6">
                                <fieldset>
                                    @*<input type="text" class="form-control" placeholder="Return location" required="">*@
                                    <input type="text" name="noitra" class="form-control" id="noiTraXe" placeholder="Return location" required="">
                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <input type="date" name="ngaythue" class="form-control" id="ngayThue" placeholder="Pick-up date/time" required="">
                                    @*<input type="text" class="form-control" placeholder="Pick-up date/time" required="">*@
                                </fieldset>
                            </div>

                            <div class="col-md-6">
                                <fieldset>
                                    @*<input type="text" class="form-control" placeholder="Return date/time" required="">*@
                                    <input type="number" min="0" max="1000" name="songay" class="form-control" id="soNgay" placeholder="days" required="">
                                    @*<input type="hidden" name="tienThue" class="form-control" id="tienThue" value="" required="">*@
                                    <input type="hidden" name="userId" class="form-control" id="userId" value="@Session["UserID"]" required="">
                                </fieldset>
                            </div>
                        </div>
                        <input name="name" type="text" class="form-control" id="input_name"  placeholder="Full Name" required="">
                        @*<input type="text" class="form-control" placeholder="Enter full name" required="">*@

                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    @*<input type="text" class="form-control" placeholder="Enter email address" required="">*@
                                    <input name="email" type="text" class="form-control" id="input_email" placeholder="E-Mail Address"  required="">
                                </fieldset>
                            </div>

                            <div class="col-md-6">
                                <fieldset>
                                    @*<input type="text" class="form-control" placeholder="Enter phone" required="">*@
                                    <input name="subject" type="text" class="form-control" id="input_phone" placeholder="Phone" required="">
                                </fieldset>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="submit" class="btn btn-primary">Book Now</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


@section book{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
    <script src="~/Content/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Content/js/contact_custom.js"></script>

    <script>

        $(document).ready(function () {
            $("#submit").click(function () {
                _noiThue = $("#noiNhanXe").val();
                _noiTra = $("#noiTraXe").val();
                _userId = $("#userId").val();
                //_tienThue = $("#tienThue").val();
                _ngayThue = $("#ngayThue").val();
                _soNgay = $("#soNgay").val();
                _name = $("#input_name").val();
                _phone = $("#input_phone").val();
                _email = $("#input_email").val();

                error1 = $("#error1");
                if ($("#input_name").val() == "") {
                    error1.html("Vui lòng nhập vào tên!");
                    //alert("Chưa nhập tên khách hàng");
                    return;
                }

                error2 = $("#error2");
                if ($("#input_phone").val() == "") {
                    error2.html("Vui lòng nhập vào số điện thoại!");
                    //alert("Chưa nhập tên khách hàng");
                    return;
                }

                error3 = $("#error3");
                if ($("#input_email").val() == "") {
                    error3.html("Vui lòng nhập vào Email!");
                    //alert("Chưa nhập tên khách hàng");
                    return;
                }

                //if (!isEmail($("#input_email").val())) {
                //    alert("Email sai định dạng");
                //    return;
                //}
                else {
                    alert("alo"),
                   
                    $.ajax({
                    
                        type: "POST",
                        url: "/bill/create",
                        data: { noithue: _noiThue, noitra: _noiTra/*, userId = _userId*/, ngaythue: _ngayThue, songay: _soNgay, name: _name, phone: _phone, email: _email },
                        success: function (data) {
                            if (data.message) {
                                alert("Bạn đã thuê xe thành công");
                            }
                            else {
                                alert("không thành công");
                            }
                        }
                    });
                }

            });
        })

    </script>
}

