@model Do_An_Nhom.Models.tblDongXe

@{
    ViewBag.Title = "Delete";
}


    <hr />
    <dl class="dl-horizontal  col-md-10 m-auto" ">
        <h3 class="text-red">Bạn có chắc chăn muốn xóa mức phí này không?</h3>
        <dt>
            @Html.DisplayNameFor(model => model.DongXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DongXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HangXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoChoNgoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoChoNgoi)
        </dd>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        }

    </dl>

  

