@model IEnumerable<Do_An_Nhom.Models.tblDongXe>

@{
    ViewBag.Title = "Index";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản lý dòng xe</h1>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary" })
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<style>
    table, tr, td, th {
        border: 1px solid #333;
        border-collapse: collapse;
    }
</style>
<table class="table col-md-10 m-auto">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DongXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HangXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoChoNgoi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DongXe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangXe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoChoNgoi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaDongXe }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaDongXe }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaDongXe })
            </td>
        </tr>
    }

</table>
