@model Do_An_Nhom.Models.tblUser
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .frame-change-pass {
        border: 1px solid #F33F3F;
        margin: auto;
        padding: 30px;
        background: white;
        transform: translateY(120px);
        z-index: 1000;
    }
</style>

<div class="frame-change-pass col-8">
    <form action="" method="post" enctype="multipart/form-data">
        <h2>Thông tin tài khoản </h2>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <h4 style="color:red;">@ViewData["error"]</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group d-flex signup-row">
                    <div class="col-md-12">
                        <label class="control-label col-md-5 signup-row-title">Tên đầy đủ</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control signup-input", placeholder = "Nhập vào tên", id = "name", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control signup-input", placeholder = "Nhập vào tên email", name = "email", id = "email", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        <p style="color:red;">@ViewData["error"]</p>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label col-md-5 signup-row-title">Số điện thoại</label>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control signup-input", placeholder = "Nhập vào số điện thoại", id = "phone", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group d-flex signup-row">

                    <div class="col-md-6">
                        <label class="control-label col-md-5 signup-row-title">Địa chỉ</label>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control signup-input", placeholder = "Nhập địa chỉ", id = "address", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-5 signup-row-title">Avatar</label>
                        <img src="~/Content/images/avatars/@Session["Avatar"]" style="display: block; width: 400px"/>
                        @*@Html.EditorFor(model => model.avatar, new { htmlAttributes = new { @class = "signup-input", type = "file", id = "uploadhinh", name = "uploadhinh", accept = "image/*" } })*@
                        @Html.ValidationMessageFor(model => model.avatar, "", new { @class = "text-danger" })
                    </div>


                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control signup-input", Type = "date", @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group d-flex justify-content-between col-10">

                    <div class="col-9 p-0">
                        @*@Html.ActionLink("Về trang chủ", "Index", "Home", new { @class = "btn btn-primary m-r" })*@
                        <a href="~/Home/Index" class="btn btn-primary m-r">Về trang chủ</a>
                    </div>



                    <div class="col-md-offset-2 col-md-2">
                        <a  href="~/SignUp/Change"  class="btn btn-success m-l" > Tới chỉnh sửa</a>
                    </div>


                </div>
            </div>
        }
    </form>
</div>

