@model Do_An_Nhom.Models.tblMucPhi

@{
    ViewBag.Title = "Details";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Chi tiết mức phí</h1>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="dl-horizontal col-md-10 m-auto">
    <dl class="">
        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <div class="col-md-offset-2">
            @Html.ActionLink("Edit", "Edit", new { id = Model.MaMP }, new { @class = "btn btn-info m-r" })
        </div>

    </dl>


</div>
<div class="form-group d-flex col-md-10">
    <div class="m-r col-md-2">

        @Html.ActionLink("Back to List", "Index")
    </div>
 
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaMP }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
