@model IEnumerable<Do_An_Nhom.Models.tblMucPhi>

@{
    ViewBag.Title = "Index";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản lý Mức phí</h1>
            </div><!-- /.col -->
          
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @Html.ActionLink("Create New", "Create", new { @class = "btn" } )
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

    <table class="table ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaMP }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaMP }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaMP })
                </td>
            </tr>
        }

    </table>

