@model IEnumerable<Do_An_Nhom.Models.tblMucPhi>

@{
    ViewBag.Title = "Index";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản lý Mức phí</h1>
            </div><!-- /.col -->
          
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary" } )
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
    <style>
        table, tr, td, th {
            border: 1px solid #333;
            border-collapse: collapse;
        }
    </style>
    <table class="table col-md-10 m-auto">
        <tr>
            <th class="col-md-4 text-center">
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th class="col-md-5 text-center">
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th class="col-md-3 text-center"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaMP }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaMP }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaMP })
                </td>
            </tr>
        }

    </table>

